huggingface-hub==0.33.4
python-dotenv==1.1.1
scikit-learn==1.7.0
sentence-transformers==5.0.0
torch==2.7.1
transformers==4.53.2
colorcet
seaborn
matplotlib
uuid
openai
bert_score
datasets==2.18.0
pyarrow==14.0.0
numpy<2
spacy
-e .
